<div class="layout_padding collection_section">
<div class="container">
    <h1 class="new_text"><strong>Cửa hàng đồng hồ chính hãng tại HCM - PULLO giới thiệu</strong></h1>
    <p class="consectetur_text">Nỗi sợ vì mua phải đồng hồ kém chất lượng, đồng hồ fake, từ nay không còn lo lắng nữa vì đã có PULLO: hàng chính hãng nhập trực tiếp từ US, Fullbox, nguyên tem.</p>
    <img src="./assets/images/about1.jpg"/>
    <p class="consectetur_text">"Chào đời vào năm 2011 nhưng đến nay đồng hồ Daniel Wellington chính hãng đã tạo nên một cơn sốt và trào lưu mới dành giới trẻ (cả nam và nữ) trên toàn thế giới. Mỗi chiếc đồng hồ Daniel Wellington chính hãng ra đời đó là một nét đẹp và một phong cách mới mà những người đứng đầu thường hiệu này muốn dành tặng cho những tín đồ của họ, điều này cũng giống như một nút nhạc giao hưởng tạo nên những cung bật muôn màu cho người nghe. Nếu bạn chưa sở hữu chiếc đồng hồ DW chính hãng hãy trải nghiệm “cảm giác” đó ngay tại đây…"
    </p>
    <img src="./assets/images/about3.png"/>
    <p class="consectetur_text">Store Pullo bán đồng hộ chính hãng 100% Authentic nhập trực tiếp từ US, UK, JAPAN nhiệm vụ mang hàng chính hãng đến tay người tiêu dùng Việt Nam !!! Số 5 Nguyễn Thị Minh Khai Phường 9, Quận 3, Thành Phố Hồ Chí Minh.
    </p>
    </div></div>