<div class="layout_padding contact_section">
   <div class="container">
      <h1 class="new_text"><strong>GIỎ HÀNG</strong></h1>
		<div class="row">
		  <div class="col-md-6">
		  	<h2 class="head">THÔNG TIN KHÁCH HÀNG</h2>
              <table>
                <tr style="height:40px">
                   <td style="width:130px">Họ và tên</td>
                   <td><input style="width:200px" type="text" value="" /></td>
                   
                </tr>
                <tr style="height:40px">
                   <td style="width:130px">Số điện thoại</td>
                   <td><input style="width:200px" type="text" value="" /></td>
                   
                </tr>
                <tr style="height:40px">
                    <td style="width:130px">Email</td>
                    <td><input style="width:200px" type="text" value="" /></td>
                    
                 </tr>
                 <tr style="height:70px">
                    <td style="width:130px">Địa chỉ</td>
                    <td><input style="height:50px;width:200px" type="text" value="" /></td>                   
                 </tr>
                 <tr style="height:70px">
                    <td style="width:130px">Ghi chú</td>
                    <td><input style="height:50px;width:200px" type="text" value="" /></td>                   
                 </tr>
                 <tr style="height:40px">
                    <td><input style="height:50px;width:200px;margin-right: 10px;color: aliceblue;background-color:brown;font-weight: bold;" type="button" value="THANH TOÁN TẠI NHÀ" /></td>
                    <td><input style="height:50px;width:200px;color: aliceblue;background-color:royalblue;font-weight: bold;" type="button" value="THANH TOÁN ONLINE" /></td>                   
                 </tr>
             </table>
          </div>
          <div class="col-md-6">
              
            <h2 class="head" >CHI TIẾT ĐƠN HÀNG</h2>
            
            <div class="grid images_3_of_2">
                <img src="./assets/images/ClassicSheffield.jpg" style="margin-bottom: 30px;margin-left: 50px;" width="200"/>
                     <div class="clearfix"></div>
            
             
                <table>
                    <tr style="height:40px">
                        <td style="width:170px">Sản phẩm</td>
                        <td colspan="2">ClassicSheffield</td>
                        
                     </tr>
                    <tr style="height:40px">
                       <td style="width:170px">Tạm tính</td>
                       <td colspan="2">2.500.000 đồng</td>
                       
                    </tr>
                    <tr style="height:40px">
                       <td style="width:170px">Phí vận chuyển</td>
                       <td colspan="2">0 đồng</td>
                       
                    </tr>
                    <tr style="height:40px">
                        <td style="width:170px">Tổng tiền</td>
                        <td colspan="2">2.500.000 đồng</td>
                        
                     </tr>
                     <tr style="height:70px">
                        <td style="width:170px;margin-right: 20px;">Sử dụng mã giảm giá</td>
                        <td><input style="height:20px;width:100px" type="text" value=""/></td>  
                        <td><input style="height:28px;width:80px;color: aliceblue;background-color:royalblue;" type="button" value="Sử dụng"/></td>                 
                     </tr>
                     
                 </table>
          
        </div>
        <div class="clear"></div>
    </div>
</div>