<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div><a href="#"><img src="./assets/images/footer-logo.png"></a></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="./assets/images/phone-icon.png"><span class="map_text">(84) 389244015</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="./assets/images/email-icon.png"><span class="map_text">pullovn@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="./assets/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="./assets/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="./assets/images/in-icon.png"></a></li>
                            <li><a href="#"><img src="./assets/images/google-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div> 
        <div class="footer_section_2">
            <div class="row">
                
                <div class="col-sm-3 col-lg-3">
                    <h1 class="shop_text">THÔNG TIN LIÊN HỆ </h1>
                    <div class="image-icon"><img src="./assets/images/map-icon.png"><span class="pet_text">Số 5, Nguyễn Thị Minh Khai, Phường 9, Quận 3, Thành Phố Hồ Chí Minh</span></div>
                </div>
                <div class="col-sm-3 col-md-6 col-lg-3">
                    <h1 class="shop_text">HỖ TRỢ KHÁCH HÀNG</h1>
                    <div class="delivery_text">
                        <ul>
                            <li>Chăm sóc khách hàng</li>
                            <li>Thanh toán</li>
                            <li>Hướng dẫn mua hàng</li>
                          
                        </ul>
                    </div>
                </div>
            <div class="col-sm-3 col-lg-3">
                <h1 class="shop_text">CHÍNH SÁCH</h1>
                <div class="delivery_text">
                        <ul>
                            <li>Chế độ bán hàng</li>
                            <li>Chính sách bảo hành</li>
                            <li>Chính sách bảo mật</li>
                            <li>Chính sách đổi trả & hoàn tiền</li>
                            <li>Chính sách vận chuyển</li>
                        </ul>
                    </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="footer-logo" style="margin-bottom: 10px;"><img src="./assets/images/email-icon.png"><span class="map_text">ĐĂNG KÝ NHẬN CODE</span></div>
                <div class="form-group">
                    <input type="text" class="enter_email" placeholder="Nhập vào Email" name="Name">
                </div>
                <button class="subscribr_bt">ĐĂNG KÝ</button>
            </div>
            </div>
            </div> 
        </div>
    </div>
	<div class="copyright">2021 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>
