<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>PULLO</strong></h1>
        <p class="consectetur_text">Liên tục nhập về các mẫu mã đồng hồ mới, đáp ứng kịp thời xu hướng thời trang của giới trẻ.</p>
        <div class="collection_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <button class="new_bt">New</button>
                        <div class="shoes-img"><img src="./assets/images/IconicLink.jpg"></div>
                        <p class="sport_text">Iconic Link</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">100</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <a routerLink="/products">
                    <button class="seemore_bt">MUA NGAY</button></a>
                </div>
                <div class="col-md-6">
                    <div class="about-img2">
                        <div class="shoes-img2"><img src="./assets/images/ClassicSheffield.jpg"></div>
                        <p class="sport_text">Classic Ha</p>
                        <div class="dolar_text">$<strong style="color: #f12a47;">100</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                                <li><a href="#"><img src="./assets/images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collection_section">
    <div class="container">
        <h1 class="new_text"><strong>HOT</strong></h1>
        <p class="consectetur_text">Thường xuyên có các ưu đãi lớn cho khách hàng vào hàng tháng</p>
    </div>
</div>
<div class="collectipn_section_3 layuot_padding">
    <div class="container">
        <div class="racing_shoes">
            <div class="row">
                <div class="col-md-8">
                    <div class="shoes-img3"><img src="./assets/images/ClassicSt.jpg"></div>
                </div>
                <div class="col-md-4">
                    <div class="sale_text"><strong>SALE -10% <br><span style="color: #0a0506;">CHO ĐƠN HÀNG ĐẦU TIÊN</span> <br></strong></div>                    
                    <a routerLink="/products">
                        <button class="seemore">Mua Ngay</button></a>
                </div>
            </div>
        </div>
    </div>
</div>


