<div class="container">
    <div class="racing_shoes">
        <div class="row">
            <div class="col-md-8">
                <div class="shoes-img3"><img src="{{product.hinhAnh}}"></div>
            </div>
            <div class="col-md-4">
                
                <h1>{{product.tenMH}}</h1>           
                <h1>$ <span style="color: #ff4e5b;">{{product.donGia}}</span></h1>
                <h1>{{product.moTa}}</h1>              
                <a routerLink="/cart">
                    <button class="seemore" style="width: 250px;">Thêm vào giỏ hàng</button></a>
            </div>
        </div>
        
            </div>
        </div>

